@page "/"
@using SalaryCalculator.Salary

<div class="w-full py-12 flex flex-col items-center space-y-6">
    <div class="w-full max-w-3xl px-4">
        <div class="flex flex-col gap-4">
            <div class="bg-white  border border-gray-200  shadow sm:rounded-lg w-full">
                <div class="p-6 flex flex-col gap-4">
                    <h2 class="text-lg font-medium sm:text-xl lg:text-2xl xl:text-3xl">Lønnskalklkulator</h2>
                    <div class="grid grid-cols-1 gap-2">
                        <div class="flex items-center justify-between py-2 border-t border-gray-200">
                            <label for="yearly" class="text-sm text-gray-500 ">Årslønn</label>
                            <div class="text-sm font-medium bg-gray-100 p-2 rounded-md">
                                NOK
                                <input id="yearly" type="number" @bind="Salary.Yearly" @bind:event="oninput" class="text-sm font-medium w-24 bg-gray-100">
                                <br/>
                                @if (Salary.TaxRatePercent > 0)
                                {
                                    <small class="text-sm text-gray-500">
                                        <i>@Salary.YearlyAfterTax etter skatt</i>
                                    </small>
                                }
                            </div>
                        </div>
                        <div class="flex items-center justify-between py-2 border-t border-gray-200 ">
                            <label for="monthly" class="text-sm text-gray-500 ">Månedslønn</label>
                            <div class="text-sm font-medium bg-gray-100 p-2 rounded-md">
                                NOK
                                <input id="monthly" type="number" @bind="Salary.Monthly" @bind:event="oninput" class="text-sm font-medium w-24 bg-gray-100">
                                <br/>
                                @if (Salary.TaxRatePercent > 0)
                                {
                                    <small class="text-sm text-gray-500">
                                        <i>@Salary.MonthlyAfterTax after tax</i>
                                    </small>
                                }
                            </div>
                        </div>
                        <div class="flex items-center justify-between py-2 border-t border-gray-200 ">
                            <label for="weekly" class="text-sm text-gray-500 ">Ukeslønn</label>
                            <div class="text-sm font-medium bg-gray-100 p-2 rounded-md">
                                NOK
                                <input id="weekly" type="number" @bind="Salary.Weekly" @bind:event="oninput" class="text-sm font-medium w-24 bg-gray-100">
                                <br/>
                                @if (Salary.TaxRatePercent > 0)
                                {
                                    <small class="text-sm text-gray-500">
                                        <i>@Salary.WeeklyAfterTax etter skatt</i>
                                    </small>
                                }
                            </div>
                        </div>
                        <div class="flex items-center justify-between py-2 border-t border-gray-200 ">
                            <label for="daily" class="text-sm text-gray-500 ">Dagslønn</label>
                            <div class="text-sm font-medium bg-gray-100 p-2 rounded-md">
                                NOK
                                <input id="daily" type="number" @bind="Salary.Daily" @bind:event="oninput" class="text-sm font-medium w-24 bg-gray-100">
                                <br/>
                                @if (Salary.TaxRatePercent > 0)
                                {
                                    <small class="text-sm text-gray-500">
                                        <i>@Salary.DailyAfterTax etter skatt</i>
                                    </small>
                                }
                            </div>
                        </div>
                        <div class="flex items-center justify-between py-2 border-t border-gray-200 ">
                            <div class="text-sm text-gray-500 ">Timelønn</div>
                            <div class="text-sm font-medium bg-gray-100 p-2 rounded-md">
                                NOK
                                <input type="number" @bind="Salary.Hourly" @bind:event="oninput" class="text-sm font-medium w-24 bg-gray-100">
                                <br/>
                                @if (Salary.TaxRatePercent > 0)
                                {
                                    <small class="text-sm text-gray-500">
                                        <i>@Salary.HourlyAfterTax etter skatt</i>
                                    </small>
                                }
                            </div>
                        </div>
                        <div class="flex items-center justify-between py-2 border-t border-gray-200 ">
                            <label for="by-minute" class="text-sm text-gray-500 ">Minuttlønn</label>
                            <div class="text-sm font-medium bg-gray-100 p-2 rounded-md">
                                NOK
                                <input id="by-minute" type="number" @bind="Salary.ByMinute" @bind:event="oninput" class="text-sm font-medium w-24 bg-gray-100">
                                <br/>
                                @if (Salary.TaxRatePercent > 0)
                                {
                                    <small class="text-sm text-gray-500">
                                        <i>@Salary.ByMinuteAfterTax etter skatt</i>
                                    </small>
                                }
                            </div>
                        </div>
                        <div class="flex items-center justify-between py-2 border-t border-gray-200 ">
                            <label for="by-second" class="text-sm text-gray-500 ">Sekundlønn</label>
                            <div class="text-sm font-medium bg-gray-100 p-2 rounded-md">
                                NOK
                                <input id="by-second" type="number" @bind="Salary.BySecond" @bind:event="oninput" class="text-sm font-medium w-24 bg-gray-100">
                                <br/>
                                @if (Salary.TaxRatePercent > 0)
                                {
                                    <small class="text-sm text-gray-500">
                                        <i>@Salary.BySecondAfterTax etter skatt</i>
                                    </small>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white  border border-gray-200  shadow sm:rounded-lg w-full">
                <div class="p-6 flex flex-col gap-4">
                    <h2 class="text-lg font-medium sm:text-xl lg:text-2xl xl:text-3xl">Innstillinger</h2>
                    <div class="grid grid-cols-1 gap-2">
                        <div class="flex items-center justify-between py-2 border-t border-gray-200">
                            <label for="tax-rate" class="text-sm text-gray-500 ">Effektiv skatteprosent</label>
                            <div class="text-sm font-medium bg-gray-100 p-2 rounded-md">
                                <input id="tax-rate" type="number" @bind="Salary.TaxRatePercent" @bind:event="oninput" class="text-sm font-medium w-24 bg-gray-100">
                                %
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <small class="text-sm text-gray-500">
        <i>Antar 37,5 timers arbeidsuke, 260 dager i året, 52 uker i året og 1950 timer i året.</i>
    </small>
</div>


@code {
    private Salary Salary { get; } = new(550000);
}